body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}



.service-description {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.tochange {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.project-info {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -50px;
  }
  
  .project-title {
    font-weight: 500;
    font-size: 1.5em;
 
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #004d4d;

  }
  
  .lighter {
    font-size: 0.9em;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
 .card-imgs{
    width: 250px;
    margin-top: 30px;
    height: 130px;
    border-radius: 6px;

 }
  
  .card-img div {
    width: 90%;
  }
  /*IF USING IMAGES*/
  
  .card {
    margin: 14px;
    background-color: white;
    color: black;
    width: 300px;
    height: 460px;
    max-height: 377px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
  
  .card-img {
    position: relative;
    top: -20px;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  
  /* Change the .card-img div to .card-img img to use img*/
  .card-img a,
  .card-img div {
    height: 150px;
    width: 90%;
    /* Change this width here to change the width of the color/image */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .card-imgs {
    transition: all 0.5s;
  }
  